.paginate {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button {
  border-radius: 3px;
  padding: 8.5px 10px;
  font-size: 16px;
  text-align: center;
  color: #0288d1;
  background: #fff;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: #fff;
    background: #42a5f5;
  }
}

.button:disabled {
  background: #9ca3af;
  color: #fff;
}

.page {
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 700;
  color: #27272a;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.active {
  border-radius: 5px;
  padding: 10px 15px;
  font-weight: 700;
  color: #fff;
  background: #3b82f6;
  transition: all 0.2s ease-in-out;
}